* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Body Styling */
.product-body {
    background-image: url(./assets/img/01_product_page/1.\ Black\ Abstract\ Minimalist\ Zoom\ Virtual\ Background.png);
    background-size: contain no-repeat;
    height: 100vh;
}


/* Main Navigation Styling */
.main-nav {
    box-shadow: 0 2px 8px;
    background-color: #fff;
    border-radius: 35px;
    margin: auto;
    margin-top: 1.5rem;
    width: 90vw;
}

.main-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.main-nav a {
    text-decoration: none;
    color: #1a1a1a;
    position: relative;
}

.main-nav a::after {
    content: "";
    width: 100%;
    height: 2.5px;
    background-color: rgb(43, 43, 208);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.main-nav a:hover::after {
    transform: scale(1);
}

.main-nav a:active::after {
    transform: scale(1);
}

@media screen and  (max-width: 582px) {
    .new-feature {
        margin-top: 1rem;
    }

    .main-nav ul {
        padding: 20px 20px 10px;
    }
}


/* Main Content Styling */
.product-main {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 80vh;
    margin-top: 5rem;
}

/* .product-main figure {
    transform: scale(1);
    transition: 0.3s ease-in-out;
} */

/* .product-main figure:hover {
    transform: scale(1.1);
} */

.product-main img { 
    width: 400px;
    height: 50vh;
    border-radius: 30px;
    border: 1px #968a8a65 solid;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.product-main img:hover {
    transform: scale(1.2);
}

.product-main figcaption {
    margin-top: 13px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.product-main figure div {
    text-align: center;
    margin-top: 1rem;
}

.product-main figure p {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dcc46e;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    border-radius: 8px;
    padding: 2.5px;
}

.product-main figure .buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-main figure button {
    margin-top: 1rem;
    background-color: #1a1a1a;
    border: 2px rgb(52, 52, 231) solid;
    font-size: 1.5rem;
    padding: 7px 15px;
    border-radius: 35px;
    cursor: pointer;
}

.product-main figure a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1400px) {
    .product-main img { 
        width: 350px;
        height: 50vh;
    }

    .product-main figure button {
        font-size: 1.1rem;
    }
}